@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary: #003F5F;
    --slate-black: #1E1E1E;
    --gray-dark: #757575;
    --background: #F4F4F4;
    --gray-light: #D9D9D9;
}

.no-scroll{
    height: 100%;
    overflow: hidden;
}